<section class="hero-wrap hero-wrap-2" style="background-image: url('./assets/images/bg_2.webp');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9  text-center">
        <h1 class="mb-3 bread">About</h1>
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/public/home">Home</a></span> <span>About</span></p>
      </div>
    </div>
  </div>
</section>



<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-10 heading-section  text-center">
        <h3 class="subheading">Testimony</h3>
        <h2 class="mb-1">Successful Stories</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <div class="carousel-testimony ">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="line pl-5">
                  <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
                </div>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(./assets/images/person_1.webp)">
                  </div>
                  <div class="ml-4">
                    <p class="name">Gabby Smith</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="line pl-5">
                  <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
                </div>

                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(./assets/images/person_2.webp)">
                  </div>
                  <div class="ml-4">
                    <p class="name">Floyd Weather</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="line pl-5">
                  <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
                </div>

                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(./assets/images/person_3.webp)">
                  </div>
                  <div class="ml-4">
                    <p class="name">James Dee</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="line pl-5">
                  <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
                </div>

                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(./assets/images/person_4.webp)">
                  </div>
                  <div class="ml-4">
                    <p class="name">Lance Roger</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="line pl-5">
                  <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
                </div>

                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(./assets/images/person_2.webp)">
                  </div>
                  <div class="ml-4">
                    <p class="name">Kenny Bufer</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter img" id="section-counter" style="background-image: url(./assets/images/bg_3.webp);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="2560">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="60">0</strong>
                <span>Treatments</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="50">0</strong>
                <span>Years of Experience</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Lesson Conducted</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-gallery ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section  text-center">
        <h3 class="subheading">Gallery</h3>
        <h2 class="mb-1">See the latest photos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 ">
        <a href="./assets/images/gallery-1.webp" class="gallery image-popup img d-flex align-items-center" style="background-image: url(./assets/images/gallery-1.webp);">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ">
        <a href="./assets/images/gallery-2.webp" class="gallery image-popup img d-flex align-items-center" style="background-image: url(./assets/images/gallery-2.webp);">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ">
        <a href="./assets/images/gallery-3.webp" class="gallery image-popup img d-flex align-items-center" style="background-image: url(./assets/images/gallery-3.webp);">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ">
        <a href="./assets/images/gallery-4.webp" class="gallery image-popup img d-flex align-items-center" style="background-image: url(./assets/images/gallery-4.webp);">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>



<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Energen</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-lft mt-3">
            <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
            <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
            <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Popular Links</h2>
          <ul class="list-unstyled">
            <li><a href="#">Aromatheraphy</a></li>
            <li><a href="#">Skin Care</a></li>
            <li><a href="#">Herbal Spa</a></li>
            <li><a href="#">Body Massage</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="#">About</a></li>
            <li><a href="#">Our Spa</a></li>
            <li><a href="#">Treatments</a></li>
            <li><a href="#">Specialists</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="row">-->
<!--      <div class="col-md-12 text-center">-->

<!--        <p class="mb-0">-->
<!--          &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--          Copyright &copy;<script>-->
<!--            document.write(new Date().getFullYear());-->

<!--        </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--          &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</footer>
