<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark" id="ftco-navbar">

  <div class="container">
    <a class="navbar-brand" routerLink="/public/home"><span class="flaticon-lotus"></span>Spa&Beauty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLink="/public/home" routerLinkActive="active"><a class="nav-link">Home</a></li>
        <li class="nav-item" routerLink="/public/about" routerLinkActive="active" routerLink="/public/about"
            routerLinkActive="active"><a class="nav-link">About</a></li>
        <li class="nav-item" routerLink="/public/treatments" routerLinkActive="active"><a
          class="nav-link">Treatments</a></li>
        <li class="nav-item" routerLink="/public/specialists" routerLinkActive="active"><a class="nav-link">Specialists</a>
        </li>
        <li class="nav-item" routerLink="/public/pricing" routerLinkActive="active"><a class="nav-link">Pricing</a></li>
<!--        <li class="nav-item" routerLink="/public/home" routerLinkActive="active"><a class="nav-link">Blog</a></li>-->
        <li class="nav-item" routerLink="/public/contact" routerLinkActive="active"><a class="nav-link">Contact</a></li>
        <a class="nav-link" (click)="connexion()">Connexion</a>
      </ul>
    </div>
  </div>
</nav>
