<section class="hero-wrap hero-wrap-2" style="background-image: url('./assets/images/bg_2.webp');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9  text-center">
        <h1 class="mb-3 bread">Our Team Specialists</h1>
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/public/home">Home</a></span> <span>Specialists</span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 heading-section text-center ">
        <h3 class="subheading">Specialists</h3>
        <h2 class="mb-1">Meet Our Spa Specialists</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 d-flex">
        <div class="coach align-items-stretch">
          <div class="img" style="background-image: url(./assets/images/trainer-1.webp);"></div>
          <div class="text bg-white p-4 ">
            <span class="subheading">Owner / Head Coach</span>
            <h3><a href="#">Elizabeth Nelson</a></h3>
<!--            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
            <ul class="ftco-social-media d-flex mt-4">
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
            </ul>
<!--            <p></p>-->
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex">
        <div class="coach align-items-stretch">
          <div class="img" style="background-image: url(./assets/images/trainer-2.webp);"></div>
          <div class="text bg-white p-4 ">
            <span class="subheading">Owner / Head Coach</span>
            <h3><a href="#">Scarlett Torres</a></h3>
<!--            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
            <ul class="ftco-social-media d-flex mt-4">
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
            </ul>
<!--            <p></p>-->
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex">
        <div class="coach align-items-stretch">
          <div class="img" style="background-image: url(./assets/images/trainer-3.webp);"></div>
          <div class="text bg-white p-4 ">
            <span class="subheading">Owner / Head Coach</span>
            <h3><a href="#">Victoria Wright</a></h3>
<!--            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
            <ul class="ftco-social-media d-flex mt-4">
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
            </ul>
<!--            <p></p>-->
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex">
        <div class="coach align-items-stretch">
          <div class="img" style="background-image: url(./assets/images/trainer-4.webp);"></div>
          <div class="text bg-white p-4 ">
            <span class="subheading">Owner / Head Coach</span>
            <h3><a href="#">Stella Perry</a></h3>
<!--            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
            <ul class="ftco-social-media d-flex mt-4">
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
              <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
            </ul>
<!--            <p></p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
